---
import Base from "@layouts/Base.astro"
import ButtonLink from "@components/ButtonLink.astro"
import ButtonLinkSecond from "@components/ButtonLinkSecond.astro"
import CardCategoria from "@components/CardCategoria.astro"
import Clients from "@components/Clients.astro"
import ContatoSection from "@components/ContatoSection.astro"
import Banner from "@components/Banner.astro"
---

<script>
	function effect_hero() {
		const hero:any = document.querySelector('.hero-section')
		
		if (innerWidth >= 900 && innerWidth < 1020) {		
			hero.style.backgroundSize = `150%`
			window.addEventListener('scroll', () => {
				const scrollY = window.scrollY
				let size = 150 + scrollY / 6
		
				if (size <= 110) {
					size = 110
				}

				hero.style.backgroundSize = `${size}%`
			})

		} else if (innerWidth >= 1021) {
			hero.style.backgroundSize = `102%`
			window.addEventListener('scroll', () => {
				const scrollY = window.scrollY
				let size = 102 + scrollY / 6
		
				if (size < 102) {
					size = 102
				}

				hero.style.backgroundSize = `${size}%`
			})
		} else {
			hero.style.backgroundSize = `cover`
		}
	}

	effect_hero()
	
	window.addEventListener('resize', () => effect_hero())
</script>

<Base title="Home">
	<Banner>
		<h1 class="text-center text-black font-[500] text-2xl mb-4">Portal da infra</h1>

		<p class="text-center mb-14 text-black-300 text-sm">
			Conforto para o seu dia a dia, estilo
			<br>
			para o seu escritório.
		</p>

		<div class="w-full h-full flex flex-col gap-6 items-center px-[10%]">
			<ButtonLink colorTextButton="text-black" nameButton="Nossos Produtos" redirectTo="/produtos" />
			<ButtonLink colorTextButton="text-black" nameButton="Falar com consultor" />
		</div>
	</Banner>

	<section class="flex flex-col w-full px-[5%] py-18">
		<div class="flex flex-col w-full md:px-[10%]">
			<h2 class="text-2xl mb-4">Categorias de produtos</h2>

			<p class="text-gray-800 text-sm mb-18">
				Conheça os tipos de produtos e serviços que oferecemos
				<br>
				aqui no portal da infra
			</p>
		</div>

		<div class="flex flex-wrap gap-24 justify-center">
			<CardCategoria nameCard="callcenter" titleCard="Estação de call center" imgPath="/assets/categorias/categoria-callcenter.jpg">
				<p class="text-sm">
					Veja nossas estações de call center montadas, conheça nossos modelos e se precisar de ajuda fale com o consultor
				</p>
			</CardCategoria>
			
			<CardCategoria nameCard="cadeiras" titleCard="Cadeiras" imgPath="/assets/categorias/categoria-gamer.jpg">
				<p class="text-sm">
					Veja nossas coleção de cadeiras com muitos tipos diferentes, conheça nossos modelos e se precisar negociar um bom custo benefício, fale com um consultor
				</p>
			</CardCategoria>

			<CardCategoria nameCard="mesas" titleCard="Mesas" imgPath="/assets/categorias/categoria-mesas.jpg">
				<p class="text-sm">
					Veja nossas mesas que também trazemos uma variedade de opções, temos mesas diretor, mesas executivas, mesas em L e etc.
				</p>
			</CardCategoria>

			<CardCategoria nameCard="armarios" titleCard="Armários" imgPath="/assets/categorias/armarios.png">
				<p class="text-sm">
					Veja nossas estações de call center montadas, conheça nossos modelos e se precisar de ajuda fale com o consultor
				</p>
			</CardCategoria>
		</div>
	</section>

	<section class="flex flex-col bg-black px-[5%] py-[5rem] items-center">
		<h2 class="text-white text-lg mb-4">Sobre nós</h2>
		<p class="text-gray-300 text-center text-sm mb-14">
			Nós do Portal da Infra já atendemos mais de
			<br>
			18.000,00 work stations em todo território nacional. Conheça mais da nossa tragetória até aqui.
		</p>

		<ButtonLinkSecond redirectTo="/sobre-nos" nameButton="Conheça aqui" />
	</section>

	<section class="flex flex-col items-center mb-26">
		<h2 class="text-lg max-w-[60%] text-center font-semibold py-[4rem] pb-4">Clientes que confiam no nosso trabalho</h2>

		<div class="px-[5%]">
			<p class="text-center text-sm mb-8">
				Essas e muitas outras empresas tiveram ótimos resultados. Busque sempre o melhor para viver melhor
			</p>
		</div>

		<div class="flex flex-wrap justify-center px-[10%] mb-8">
			<Clients nameClient="Portal da Infra" logoClient="/favicon.png" />
			<Clients nameClient="Google" logoClient="https://agenciapnz.com/wp-content/uploads/Logo-Google-G.png" />
			<Clients nameClient="Instagram" logoClient="https://img.freepik.com/psd-premium/instagram-logotipo_971166-164497.jpg?semt=ais_hybrid&w=740&q=80" />
			<Clients nameClient="DiamondLog" logoClient="https://media.licdn.com/dms/image/v2/C4E0BAQGhI500M97BXQ/company-logo_200_200/company-logo_200_200/0/1655317026041/diamond_log_logo?e=2147483647&v=beta&t=XlIxEo7q8Y6M7i-lQmrr3igSQjkWPcBIP6Dbsr2Ypto" />
			<Clients nameClient="Netflix" logoClient="https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/15844974/netflixlogo.0.0.1466448626.png?quality=90&strip=all&crop=1.2535702951444%2C0%2C97.492859409711%2C100&w=2400" />
		</div>


		<div class="flex flex-col gap-4 px-[15%] w-full items-center">
			<div class="bg-button-dark w-[90%] min-w-[240px] sm:w-[70%] md:w-[364px]">
				<ButtonLink nameButton="Falar com um consultor" widthButton="100%" />
			</div>

			<div class="bg-button-dark w-[90%] min-w-[240px] sm:w-[70%] md:w-[364px]">
				<ButtonLink redirectTo="/mais-clientes" nameButton="Ver mais clientes" widthButton="100%" />
			</div>
		</div>
	</section>

	<ContatoSection />
</Base>
