---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import ButtonLink from "@components/ButtonLink.astro";
import CardSubtotal from "@components/CardSubtotal.astro"
import { MyClient } from "@components/react/MyClient";
import DetailClient from "@components/DetailClient.astro";
import ContatoSection from "@components/ContatoSection.astro";
import Banner from "@components/Banner.astro";
---

<script>
	function effect_hero() {
		const hero:any = document.querySelector('.hero-section')
		
		if (innerWidth >= 900 && innerWidth < 1020) {		
			hero.style.backgroundSize = `150%`
			window.addEventListener('scroll', () => {
				const scrollY = window.scrollY
				let size = 150 + scrollY / 6
		
				if (size <= 110) {
					size = 110
				}

				hero.style.backgroundSize = `${size}%`
			})

		} else if (innerWidth >= 1021) {
			hero.style.backgroundSize = `102%`
			window.addEventListener('scroll', () => {
				const scrollY = window.scrollY
				let size = 102 + scrollY / 6
		
				if (size < 102) {
					size = 102
				}

				hero.style.backgroundSize = `${size}%`
			})
		} else {
			hero.style.backgroundSize = `cover`
		}
	}

	effect_hero()
	
	window.addEventListener('resize', () => effect_hero())
</script>

<Base>
    <Banner heightBanner="60vh">
		<h1 class="text-center text-white font-[500] text-2xl mb-4">Clientes até aqui</h1>

		<p class="text-center mb-14 text-gray-300 text-xs">
			Aqui você verá nossa tabela de clientes atendidos e informações sobre os projetos.
			<br>
			Clique em alguns projeto e veja oque esperar de nós
		</p>
	</Banner>

    <section class="flex flex-wrap items-center justify-center p-[5rem] px-[5%] w-full gap-[2rem]">
        <CardSubtotal />

        <div class="flex flex-wrap w-full justify-center gap-[2rem]">
            <CardSubtotal />
            <CardSubtotal />
        </div>
    </section>

    <div class="flex flex-col gap-[5rem] w-full mb-[8rem]">
        <DetailClient />
        <DetailClient />
    </div>

    <ContatoSection />
</Base>