---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import ButtonLink from "@components/ButtonLink.astro";
import CardSubtotal from "@components/CardSubtotal.astro"
import { MyClient } from "@components/react/MyClient";
---

<script>
	function effect_hero() {
		const hero:any = document.querySelector('.hero-section')
		
		if (innerWidth >= 900 && innerWidth < 1020) {		
			hero.style.backgroundSize = `150%`
			window.addEventListener('scroll', () => {
				const scrollY = window.scrollY
				let size = 150 + scrollY / 6
		
				if (size <= 110) {
					size = 110
				}

				hero.style.backgroundSize = `${size}%`
			})

		} else if (innerWidth >= 1021) {
			hero.style.backgroundSize = `102%`
			window.addEventListener('scroll', () => {
				const scrollY = window.scrollY
				let size = 102 + scrollY / 6
		
				if (size < 102) {
					size = 102
				}

				hero.style.backgroundSize = `${size}%`
			})
		} else {
			hero.style.backgroundSize = `cover`
		}
	}

	effect_hero()
	
	window.addEventListener('resize', () => effect_hero())
</script>

<Base>
    <section class="hero-section flex flex-col bg-[url('../assets/bg-hero.png')] bg-cover bg-center bg-no-repeat h-[60vh] bg-black transition-all duration-300">
		<Header />

		<div class="flex flex-col w-full h-full px-[20%] py-24">
			<h1 class="text-center text-white font-[500] text-2xl mb-4">Clientes até aqui</h1>

			<p class="text-center mb-14 text-gray-300 text-xs">
				Aqui você verá nossa tabela de clientes atendidos e informações sobre os projetos.
				<br>
                Clique em alguns projeto e veja oque esperar de nós
			</p>
		</div>
	</section>

    <section class="flex flex-wrap items-center p-[5rem] px-[5%] w-full gap-[2rem]">
        <CardSubtotal />

        <div class="flex flex-wrap w-full justify-between gap-[2rem]">
            <CardSubtotal />
            <CardSubtotal />
        </div>
    </section>

    <section class="px-[10%]">
        <h2 class="text-gray-800 font-bold text-lg mb-[.5rem]">Clientes - Call Center</h2>

        <p class="text-sm text-gray-600 mb-[2rem]">
            Abaixo temos alguns clientes que precisavam montar estações de call center
            <br>
            Confira o resultado final do nosso trabalho
        </p>
        
        <div class="flex flex-col w-full bg-black md:flex-row md:h-[600px]">
            <div class="relative bg-[url('https://img.freepik.com/fotos-gratis/nenhuma-pessoa-na-mesa-com-varios-computadores-no-escritorio-do-call-center-usado-por-agentes-de-telemarketing-para-atender-chamadas-telefonicas-na-linha-de-apoio-espaco-vazio-com-tecnologia-para-auxiliar-no-atendimento-ao-cliente_482257-40793.jpg')] bg-cover bg-center w-[100%] h-[8rem] border-b-8 border-white opacity-[0.4] cursor-pointer transition-all duration-300 hover:h-[15rem] hover:opacity-[1]">
                <MyClient client:load />
            </div>
            
            <div class="bg-[url('https://img.freepik.com/fotos-gratis/nenhuma-pessoa-no-call-center-helpdesk-com-varios-monitores-no-escritorio-atendimento-ao-cliente-e-telecomunicacoes-de-suporte-ao-cliente-ninguem-trabalhando-na-assistencia-de-telemarketing-com-contato-de-linha-de-apoio_482257-44008.jpg')] bg-cover bg-center w-[100%] h-[8rem] opacity-[0.4] cursor-pointer border-b-8 border-white transition-all duration-300 hover:h-[15rem] hover:opacity-[1]">
                <MyClient client:load />
            </div>

            <div class="bg-[url('https://media.istockphoto.com/id/926193436/photo/office-with-desks.jpg?s=612x612&w=0&k=20&c=y2DUDQIyROB9rBjLUNGxZkTn_yz8X1bxJsLVmsXItEU=')] bg-cover bg-center w-[100%] h-[8rem] opacity-[0.4] cursor-pointer border-b-8 border-white transition-all duration-300 hover:h-[15rem] hover:opacity-[1]">
                <MyClient client:load />
            </div>

            <div class="bg-[url('https://officebanao.com/wp-content/uploads/2024/10/untitled-design-4-1024x682.jpg')] bg-cover bg-center w-[100%] h-[8rem] opacity-[0.4] cursor-pointer border-b-8 border-white transition-all duration-300 hover:h-[15rem] hover:opacity-[1]">
                <MyClient client:load />
            </div>

            <div class="bg-[url('https://officefurnitureonline.com/wp-content/uploads/2020/05/office-furniture-delivery-and-installation.jpg')] bg-cover bg-center w-[100%] h-[8rem] opacity-[0.4] cursor-pointer border-b-8 border-white transition-all duration-300 hover:h-[15rem] hover:opacity-[1]">
                <MyClient client:load />
            </div>

            <div class="bg-[url('https://cdn.shopify.com/s/files/1/1358/2307/files/Globus6_edited-Pixlr_1024x1024.jpg?v=1565981539')] bg-cover bg-center w-[100%] h-[8rem] opacity-[0.4] cursor-pointer transition-all duration-300 hover:h-[15rem] hover:opacity-[1]">
                <MyClient client:load />
            </div>
        </div>
    </section>
</Base>