---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import {SelectFilter} from "@components/react/SelectFilter"

const productSelect: string = Astro.url.searchParams.get('productSelect') || ""

---

<Base title="Produtos">
    <Header typeHeader="header-normal" />
    
    <main class="flex py-[2rem] justify-center w-full">
        <div class="flex flex-wrap w-full justify-center">
            <SelectFilter itemHome={productSelect} client:load>
                    
            </SelectFilter>
        </div>
    </main>
</Base>
