---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import {SelectFilter} from "@components/react/SelectFilter"
import {CardProduct} from "@components/react/CardProduct";

const productSelect: string = Astro.url.searchParams.get('productSelect') || ""
const produtos: Array<string> = [
    "",
    "",
    "",
    "",
    "",
]
---

<Base title="Produtos">
    <Header typeHeader="header-normal" />
    
    <main class="flex py-[2rem] justify-center w-full">
        <div class="flex flex-wrap w-full justify-center">
            <SelectFilter itemHome={productSelect} client:load>
                    {
                        produtos.map(() => (
                            <CardProduct client:load />
                        ))
                    }
            </SelectFilter>
        </div>
    </main>
</Base>
