---
import Base from "@layouts/Base.astro";
import Banner from "@components/Banner.astro";
---

<Base title="Sobre nós">
    <Banner heightBanner="60vh">
		<h1 class="text-center text-white font-[500] text-2xl mb-4">História até aqui</h1>

			<p class="text-center mb-14 text-gray-300 text-sm">
				Conheça tudo que fizemos até aqui.
				<br>
                conheça os desafios superados, as decisões tomadas
                <br>
                e oque representamos para uma empresa, aproveite a nossa apresentação..
			</p>
	</Banner>
</Base>