---
import Header from "./Header.astro";
---

<section class=`hero-section flex flex-col bg-cover bg-center bg-no-repeat md:mb-[5rem] transition-all duration-300`>
    <Header />

    <div class="flex flex-col w-full h-full px-[8%] mt-[10vh] md:px-[20%] md:mt-[15vh]">
        <slot />
    </div>
</section>