---
const {nameButton, widthButton, colorTextButton} = Astro.props
---

<a href="#" class={`bg-white/90 border border-gray-400 text-center ${colorTextButton} font-[500] w-full max-w-[400px] h-fit py-4 rounded-md transition duration-300 hover:bg-black hover:text-white`}>{nameButton}</a>
