---
import ButtonLink from "./ButtonLink.astro";

const {titleCard, imgPath} = Astro.props
---

<div class="flex flex-col max-w-[400px] h-[520px] justify-between transition-transform duration-300 hover:scale-[1.02]">
    <div class="flex flex-col">
        <div class="bg-black rounded-lg">
            <img class="opacity-[.7] rounded-lg cursor-pointer transition duration-300" src={imgPath} alt="estações de call center">
        </div>
        
        <h3 class="py-4 text-lg font-[500]">{titleCard}</h3>
        <slot />
    </div>

    <div class="bg-button-dark">
        <ButtonLink colorTextButton="text-gray-800" nameButton="Ver mais" />
    </div>
</div>
