---
import { FormContact } from "./react/FormContact";
---

<section class="flex flex-col items-center mb-24 w-full px-[10%]">
    <h2 class="text-center text-md font-semibold mb-4">Nossos Contatos</h2>
    <p class="text-center text-sm mb-12">
        Entre em contato, vamos entender sua
        <br>
        necessidade e propor o melhor trabalho
        para sua demanda
    </p>

    <FormContact client:load />
</section>