---
const styleHeaderLink = 'text-sm links border-b border-transparent px-2 transition-all duration-300 hover:border-b-black text-black'
---

<script>
    const header:any = document.querySelector('header');

    window.addEventListener('scroll', () => {
    if (window.scrollY < 100) {
        header.classList.remove('bg-white');
    } else {
        header.classList.add('bg-white');
    }
    });
</script>

<header class="z-10 flex justify-between items-center px-[5%] py-4 sticky top-0 transition-colors duration-500">
    <a href="/" class="flex w-15 transition-transform duration-300 hover:scale-115">
        <img src='/logo-sem-texto.png' class="w-full md:w-[90%]" id="img-header-full" />
    </a>

    <nav class="flex gap-2">
        <a href="/" class={styleHeaderLink}>Home</a>
        <a href="/produtos" class={styleHeaderLink}>Produtos</a>
        <a href="/contatos" class={styleHeaderLink}>Contatos</a>
    </nav>
</header>

