<div>
    <h3 class="text-sm text-gray-800 mb-[.8rem]">Nome da empresa</h3>

    <div class="w-full h-1 bg-gray-800 flex justify-between items-center">
        <div class="w-[1rem] h-[1rem] rounded-[50%] bg-gray-800 relative">
            <p class="absolute bottom-[-2rem]">2023</p>
        </div>
        
        <div class="w-[1rem] h-[1rem] rounded-[50%] bg-gray-800 relative">
            <p class="absolute bottom-[-2rem] right-0">Recorrente</p>
        </div>
    </div>
</div>