---
import { MyClient } from "./react/MyClient";

const styleMyClientContainer = "bg-cover bg-center w-[100%] h-[12rem] md:h-[100%] border-b-4 border-white opacity-[1] cursor-pointer transition-all duration-300 hover:h-[18rem] md:hover:h-[100%] md:hover:w-[350%] md:justify-center"
const pathImg = [
    "bg-[url('https://img.freepik.com/fotos-gratis/nenhuma-pessoa-na-mesa-com-varios-computadores-no-escritorio-do-call-center-usado-por-agentes-de-telemarketing-para-atender-chamadas-telefonicas-na-linha-de-apoio-espaco-vazio-com-tecnologia-para-auxiliar-no-atendimento-ao-cliente_482257-40793.jpg')]",
    "bg-[url('https://img.freepik.com/fotos-gratis/nenhuma-pessoa-no-call-center-helpdesk-com-varios-monitores-no-escritorio-atendimento-ao-cliente-e-telecomunicacoes-de-suporte-ao-cliente-ninguem-trabalhando-na-assistencia-de-telemarketing-com-contato-de-linha-de-apoio_482257-44008.jpg')]",
    "bg-[url('https://media.istockphoto.com/id/926193436/photo/office-with-desks.jpg?s=612x612&w=0&k=20&c=y2DUDQIyROB9rBjLUNGxZkTn_yz8X1bxJsLVmsXItEU=')]",
    "bg-[url('https://officebanao.com/wp-content/uploads/2024/10/untitled-design-4-1024x682.jpg')]",
    "bg-[url('https://officefurnitureonline.com/wp-content/uploads/2020/05/office-furniture-delivery-and-installation.jpg')]"
]
---

<div class="flex flex-col w-full mb-[4rem] bg-black md:flex-row md:h-[600px] rounded-2xl">
    <div class=`${pathImg[0] + " " + styleMyClientContainer} rounded-t-2xl md:rounded-t-0 md:rounded-l-2xl`>
        <MyClient client:load />
    </div>
    
    <div class=`${pathImg[1] + " " + styleMyClientContainer}`>
        <MyClient client:load />
    </div>

    <div class=`${pathImg[2] + " " + styleMyClientContainer}`>
        <MyClient client:load />
    </div>

    <div class=`${pathImg[3] + " " + styleMyClientContainer}`>
        <MyClient client:load />
    </div>

    <div class=`${pathImg[4] + " " + styleMyClientContainer} rounded-b-2xl md:rounded-b-0 md:rounded-r-2xl`>
        <MyClient client:load />
    </div>
<!-- 
    <div class="bg-[url('https://cdn.shopify.com/s/files/1/1358/2307/files/Globus6_edited-Pixlr_1024x1024.jpg?v=1565981539')] bg-cover bg-center w-[100%] h-[8rem] md:h-[100%] border-b-8 border-white opacity-[0.4] cursor-pointer transition-all duration-300 hover:h-[15rem] md:hover:h-[100%] md:hover:w-[350%] hover:opacity-[1]">
        <MyClient client:load />
    </div> -->
</div>